html, body {
  margin: 0;
  padding: 0;
  background-color: #424549;
}

.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#sessao1 {
  background: linear-gradient(-45deg, #008000, #0f6a08, #14540d, #15400e, #132c0d);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: 'Encode Sans', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 0px 2px 3px #2B3044, 0px 4px 16px #2B3044;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  transition: all 0.2s ease-out;
}

button:hover::before {
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}

#sessao2 {
  font-family: Arial;
  font-size: 36px;
  background-image: url('city.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  text-shadow: 0px 2px 3px #2B3044, 0px 4px 16px #2B3044;
}

#sessao3 {
  background-image: url('fundo2.jpg');
  background-size: 400% 400%;
  animation: gradient 80s ease infinite;
  height: 100vh;
  font-family: 'Encode Sans', sans-serif;
  font-size: 24px;
  text-shadow: 0px 2px 3px #2B3044, 0px 4px 16px #2B3044;
  text-align: center;
  flex-direction: row-reverse;
}

#sessao3 h1 {

  width: 30%;
  margin-left: 50px;
}

.videocontainer{

  position: relative;
  width: 30%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 0, 0.4);
}

footer {
  height: 100px;
  background-color: #f2f2f2;
}

@media (max-width: 1100px) {

  #sessao1 {
  background: linear-gradient(-45deg, #008000, #0f6a08, #14540d, #15400e, #132c0d);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: 'Encode Sans', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 0px 2px 3px #2B3044, 0px 4px 16px #2B3044;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#sessao2 {
  font-family: Arial;
  font-size: 24px;
  background-image: url('city.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  text-shadow: 0px 2px 3px #2B3044, 0px 4px 16px #2B3044;
  align-items: center;
  justify-content: center;
  text-align: center;
}


#sessao3 {
  background-image: url('fundo2.jpg');
  background-size: 400% 400%;
  animation: gradient 80s ease infinite;
  height: 100vh;
  flex-direction: column;
}

#sessao3 h1 {

  width: 95%;
  padding: 100px;
  margin: 0px;
  font-family: 'Encode Sans', sans-serif;
  font-size: 24px;
  text-shadow: 0px 2px 3px #2B3044, 0px 4px 16px #2B3044;
  text-align: center;
}

.videocontainer{

  position: relative;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

}
